{% extends 'recipe/layout.html' %}
{% block body %}
        <!--Page Content-->
        <h1 class="auth-title">Create your Account</h1>
        <div class="auth-page">
            <form action="{% url 'register' %}" method="POST">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="inputusername" class="form-label">Username</label>
                    <input type="text" class="form-control" id="inputusername" name="username">
                </div>
                <div class="mb-3">
                    <label for="inputEmail" class="form-label">Email Adress</label>
                    <input type="email" class="form-control" id="inputEmail" name="email">
                </div>

                <div class="mb-3">
                    <label for="inputPassword" class="form-label">Password</label>
                    <input type="password" class="form-control" id="inputPassword" name="password">
                </div>
                <div class="row m-3">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="gridCheck">
                        <label class="form-check-label" for="gridCheck">
                          Reveal password
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="gridCheck">
                        <label class="form-check-label" for="gridCheck">
                          Remember me
                        </label>
                    </div>
                </div>
                <button type="submit" class="auth-btn-primary">Sign Up</button>

                <div class="auth-link-box">
                    <h3>Already have an account?</h3>
                    <a href="{% url 'login' %}" class="auth-btn-secondary btn">Sign In</a>
                </div>

            </form>
        </div>

{%  endblock %}